body {
  width: 100vw;
  height: 100vh; }

body {
  font-family: 'Lato', sans-serif;
  padding: 0;
  margin: 0; }

.sidebar {
  width: 50%;
  float: left; }

/* Nav */
.nav {
  padding: 3em 4em;
  position: fixed;
  top: 0;
  left: 0; }
  .nav-link {
    color: black;
    font-size: 2em;
    display: block;
    margin-bottom: 1em;
    text-decoration: none; }
    .nav-link:hover {
      text-decoration: underline; }

/* Header */
.header {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 3em 4em; }

.main-header {
  font-size: 72px;
  margin: 0 0 .3em -.15em;
  font-weight: 100; }

.sub-header {
  font-size: 24px;
  margin: 0 0 1.5em;
  letter-spacing: .3em; }

.portfolio {
  width: 50%;
  float: right;
  -webkit-column-gap: 1em;
     -moz-column-gap: 1em;
          column-gap: 1em;
  -webkit-column-count: 3;
     -moz-column-count: 3;
          column-count: 3; }
  .portfolio-img {
    width: 100%;
    padding: .5em;
    box-sizing: border-box; }
