body {
  width: 100vw;
  height: 100vh; }

body {
  font-family: 'Lato', sans-serif;
  padding: 0;
  margin: 0;
  overflow: hidden; }

/* Header */
.header {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 3em 4em; }

.main-header {
  font-size: 72px;
  margin: 0 0 .3em -.15em;
  font-weight: 100; }

.sub-header {
  font-size: 24px;
  margin: 0 0 1.5em;
  letter-spacing: .3em; }

.portfolio {
  width: 50%;
  float: right;
  float: right;
  height: 100vh;
  overflow-y: scroll; }
  .portfolio-img {
    width: 33.333333%;
    float: left;
    padding: .5em;
    box-sizing: border-box; }
