<div id="photo" class="portfolio right-sec">
  <img class="portfolio-img" src="app/ui/images/photo/backpack1.jpg"/>
  <img class="portfolio-img" src="app/ui/images/photo/backpack2.jpg"/>
  <img class="portfolio-img" src="app/ui/images/photo/backpack3.jpg"/>
  <img class="portfolio-img" src="app/ui/images/photo/blackbelt1.jpg"/>
  <img class="portfolio-img" src="app/ui/images/photo/blackbelt2.jpg"/>
  <img class="portfolio-img" src="app/ui/images/photo/blackbelt3.jpg"/>
  <img class="portfolio-img" src="app/ui/images/photo/cat1.jpg"/>
  <img class="portfolio-img" src="app/ui/images/photo/cat2.jpg"/>
  <img class="portfolio-img" src="app/ui/images/photo/cat3.jpg"/>
  <img class="portfolio-img" src="app/ui/images/photo/denimbag1.jpg"/>
  <img class="portfolio-img" src="app/ui/images/photo/denimbag2.jpg"/>
  <img class="portfolio-img" src="app/ui/images/photo/denimbag3.jpg"/>
  <img class="portfolio-img" src="app/ui/images/photo/denimbag4.jpg"/>
  <img class="portfolio-img" src="app/ui/images/photo/lionbelt1.jpg"/>
  <img class="portfolio-img" src="app/ui/images/photo/lionbelt2.jpg"/>
  <img class="portfolio-img" src="app/ui/images/photo/lionbelt3.jpg"/>
  <img class="portfolio-img" src="app/ui/images/photo/lionbelt4.jpg"/>
  <img class="portfolio-img" src="app/ui/images/photo/lionbelt5.jpg"/>
  <img class="portfolio-img" src="app/ui/images/photo/massager1.jpg"/>
  <img class="portfolio-img" src="app/ui/images/photo/massager2.jpg"/>
  <img class="portfolio-img" src="app/ui/images/photo/massager3.jpg"/>
  <img class="portfolio-img" src="app/ui/images/photo/massager4.jpg"/>
  <img class="portfolio-img" src="app/ui/images/photo/massager5.jpg"/>
</div>