<div class="portfolio">
  <img class="portfolio-img" src="ui/images/portfolio/backpack1.jpg"/>
  <img class="portfolio-img" src="ui/images/portfolio/backpack2.jpg"/>
  <img class="portfolio-img" src="ui/images/portfolio/backpack3.jpg"/>
  <img class="portfolio-img" src="ui/images/portfolio/blackbelt1.jpg"/>
  <img class="portfolio-img" src="ui/images/portfolio/blackbelt2.jpg"/>
  <img class="portfolio-img" src="ui/images/portfolio/blackbelt3.jpg"/>
  <img class="portfolio-img" src="ui/images/portfolio/backpack1.jpg"/>
  <img class="portfolio-img" src="ui/images/portfolio/backpack2.jpg"/>
  <img class="portfolio-img" src="ui/images/portfolio/backpack3.jpg"/>
  <img class="portfolio-img" src="ui/images/portfolio/blackbelt1.jpg"/>
  <img class="portfolio-img" src="ui/images/portfolio/blackbelt2.jpg"/>
  <img class="portfolio-img" src="ui/images/portfolio/blackbelt3.jpg"/>
  <img class="portfolio-img" src="ui/images/portfolio/backpack1.jpg"/>
  <img class="portfolio-img" src="ui/images/portfolio/backpack2.jpg"/>
  <img class="portfolio-img" src="ui/images/portfolio/backpack3.jpg"/>
  <img class="portfolio-img" src="ui/images/portfolio/blackbelt1.jpg"/>
  <img class="portfolio-img" src="ui/images/portfolio/blackbelt2.jpg"/>
  <img class="portfolio-img" src="ui/images/portfolio/blackbelt3.jpg"/>
</div>