<aside class="sidebar">  
  <nav class="nav">
    <a class="nav-link" href="index.html">Home</a>
    <a class="nav-link" href="art.html">Art</a>
    <a class="nav-link" href="photo.html">Photography</a>
    <a class="nav-link" href="design.html">Design</a>
    <a class="nav-link" href="about.html">About</a>
  </nav>

  <header class="header">
    <h1 class="main-header">Gabby<br />Defonso</h1>
    <h2 class="sub-header">Art + Photography</h2>
    <img src="app/ui/images/profile-img.png" title="Gabby Defonso"/>
  </header>
</aside>