body {
	font-family: 'Lato', sans-serif;
	padding: 0;
	margin: 0;
	@extend %full-page;
}
h1 {
  font-weight: 100;
  font-size: 3em;
  margin: 0 0 .5em 0;
}
p{
  line-height: 1.5em;
  font-size: 1.2em;
}
.right-sec {
  width: 50%;
  float:right;
  padding: 1em;
}