/* Header */
.header{
  position:fixed;
  bottom:0;
  left:0;
  padding:3em 4em;
}
.main-header{
  font-size:72px;
  margin:0 0 .3em -.15em;
  font-weight: 100;
}
.sub-header{
  font-size:24px;
  margin:0 0 1.5em;
  letter-spacing:.3em;
}